* {
  box-sizing: border-box;
}

//base

$bodyBackgroundColor: #f4d04e;
$desktopWidth: 100%;
$mobileWidth: 375px;
$blogBackgroundColor: white;
$pTextColor: grey;
$pFontSize: 16px;
$headingFontSize: 24px;
$headingWeight: 800;
$font-family: "Figtree", sans-serif;

//layout

.flexRow {
  display: flex;
  flex-flow: row nowrap;
}

body {
  margin: 0;
  height: 100dvh;
  width: $desktopWidth;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: $bodyBackgroundColor;
  font-family: $font-family;
  padding: 30px;
}

.card {
  background: $blogBackgroundColor;
  padding: 24px;
  width: clamp(300px, 40%, 384px);
  border-radius: 24px;
  box-shadow: 10px 5px 5px black;
  margin: 0 auto;

  .illustration {
    max-width: 100%;
    display: block;
    margin: 0 auto 24px auto;
    border-radius: 24px;
  }

  .learning {
    padding: 4px 12px;
    background: $bodyBackgroundColor;
    font-weight: 800;
    border-radius: 4px;
    height: 29px;
  }

  h2 {
    font-size: clamp(1.25rem, 20%, 2rem);
    margin: 16px auto;
    font-weight: 900;
  }

  h2:hover {
    color: $bodyBackgroundColor;
    cursor: pointer;
  }

  p:nth-child(4) {
    color: grey;
    line-height: 150%;
    font-size: clamp(1rem, 0.75vw, 2rem);
  }

  .avatarWrapper {
    width: 100%;
    justify-content: flex-start;
    align-items: center;

    img {
      height: auto;
      width: clamp(10%, 50px, 100%);
      padding-right: 10px;
    }

    span {
      font-weight: bolder;
    }
  }
}
